{% extends "pages/base.html" %}
{% block title %} Blog {% endblock  %}

{% block content %}


<div class="row" style="">

    {% for post in Posts %}
        <div class="col-4">
        <div class="card mb-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{post.title}}</h5>
                <p class="card-text">With supporting text.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated: {{post.date}}</small></p>
                <a href="{{post.id}}" class="btn btn-primary">chi tiết</a>
               <i class="fa-thin fa-skull"></i>
            </div>
        </div>
        </div>
    {% endfor %}
   
    
    
</div>




    {% comment %} <h4>{{post.date|date:"d-m-Y"}}<a href="{{post.id}}">{{post.title}}</a></h4> {% endcomment %}

{% endblock %} 


