{% extends "pages/base.html" %}

{% block title %}
Blog
{% endblock %}

{% block content %}
<div class="feature-layout">
    
            <div class="feature-item">
                <h2>しゅうみ</h2>
                <p>本を読むことです</p>
                <p>寝ているんです</p>
                <p>えがいをみるんです</p>
                <p>何もしないんです</p>
            </div>
            <div class="feature-item">
            　　<h2>景色</h2>
              　 <img src="https://i.pinimg.com/474x/49/65/c5/4965c58006f1d8cc3d04bac02b6af39b.jpg" alt="nhật bản">
            </div>
</div>
{% endblock %}
<style>

</style>


